* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #222;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.main-row {
    margin-top: 3rem;
}

.load-btn {
    font-size: 2.5rem;
    margin: 5rem auto;
}

.lead-head {
    color: #fff;
    font-size: 7rem;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.app {
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)
        ),
        url(../images/kh3.png) no-repeat center center/cover fixed !important;
    width: 100%;
    height: 100%;
    padding: 10px 0 250px 0;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .lead-head {
        font-size: 5rem;
    }
}
