.navbar {
    color: white;
    padding-top: 3rem;
}

.navbar-brand {
    color: #fff !important;
    text-align: center;
}

.brand-name {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.navlink {
    font-size: 1.4rem;
    color: #fff !important;
    font-weight: 300;
}

.main-btn {
    font-size: 1.4rem;
    font-weight: 300;
}

.main-input {
    width: 90rem !important;
    border-radius: 10px;
    background: #333;
    padding: 20px;
    color: #fff;
}

.main-input:focus {
    background: #333;
    outline: none;
    color: #fff;
}

.main-btn {
    padding: 5px;
    width: 10rem;
    border-radius: 5px;
    font-weight: 400;
}

@media (min-width: 320px) and (max-width: 480px) {
    .main-input {
        width: 325px !important;
    }
}
