.intro {
    position: absolute;
    top: 43%;
    left: 40%;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 2rem;
}

body.overlay-open {
    overflow: hidden;
}

.overlay,
.overlay-2,
.overlay-3,
.overlay-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.overlay {
    z-index: 1;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/finalfantasy.jpg) no-repeat center
            center/cover fixed !important;
}

.overlay-2 {
    z-index: 2;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/gow1.jpg) no-repeat center center/cover
            fixed !important;
}

.overlay-3 {
    z-index: 3;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/hzd.jpg) no-repeat center center/cover
            fixed !important;
}

.overlay-4 {
    z-index: 4;
    background: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../src/components/images/rdr.jpg) no-repeat center center/cover
            fixed !important;
}
