.lead-head {
    color: #fff;
    font-size: 10rem;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 600;
}

.game-card {
    width: 33rem !important;
    background-color: #202020 !important;
    color: #fff;
    border-radius: 20px !important;
    margin: 3rem auto;
    transition: all 1.3s;
}

.game-card:hover {
    transform: scale(1.07);
}

.game-row {
    margin-top: 10rem;
}

.game-cover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.detail {
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
    text-align: left;
}

.more-info,
.screenshots {
    display: block;
    font-size: 1.3rem;
}
